Project4_Site/Connected Services/XMLService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Project4_XMLServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Project4_XMLServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15593/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Park">
    <xs:sequence>
      <xs:element minOccurs="0" name="Established_In" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Founder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Neighboring_States" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Owner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Park_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reservation_Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reservation_Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Park" nillable="true" type="tns:Park" />
</xs:schema>